@import url('https://fonts.googleapis.com/css2?family=Laila:wght@600&display=swap');

.body{
  margin: 0;
}



.navbar{
  background-color: #ffffff; 
  margin: 0;  
  clear: left;
  margin-top: 0; 
  border: 1px solid  #0059ff; 

} 

#item{
 position: relative;
 display: block;
 padding: 0 0 8px 0;
 margin-left: 30px;
 color:  #0004ff;
 text-decoration: none;  
 margin-top: 0; 
 font-weight: 500;
 font-size: medium;
}

#item:hover {
 color: #001742;
 cursor: pointer;
 text-shadow:1px 1px rgba(59, 59, 0, 0.39) ;
 /* 
 font-size: large;
 animation-duration: 10ms; */
 border-bottom: 3px solid rgb(201, 201, 0);


 

}
#item:hover::after {
 transform: scaleX(1);
 transform-origin: left;

} 
.heading{
 background-color: #00457e;
 padding: 1rem;
 padding-bottom: 1.5rem;
 margin: 0;
 margin-bottom: 0;

}
.logo{ 
 margin : 0 2% 0 5%;
 width: 8rem;
 float: left;
 position: relative;
 
 
}
h2{
  color: aliceblue;
  font-family: 'Laila', sans-serif;
}
.container-nav{
padding: 5px 3px 0 0;

margin-top: 1rem;
}
.Dropdown-menu-nav{
  position: relative !important;
 display: block !important;
 
 margin-left: 20px !important;
 color: #076cbe !important;
 text-decoration: none !important;  
 margin-top: 0 !important; 
 font-weight: 500 !important;
}

.navbar-dropdown{
  padding: 0px 0px 0px 0px !important;
}
.nav-link{
padding: 0%;

}
.Disabled-Admission{
  color:#060057 !important ;
  position: relative;
  display: block;
  padding: 0 0 8px 0;
  margin-left: 30px;
  text-decoration: none;  
  margin-top: 0; 
  font-weight: 500;
  font-size: medium;
}

/* .home-navbar{
  margin-left: 5rem !important;
} */